.collapse-button {
    right: 40px !important
}

.collapsed {
    margin: 0px 0px 3px 0px !important
}
.trello-operator-icon {
    filter: brightness(1) !important;
    background-image: url('http://rs697.pbsrc.com/albums/vv338/johnruto/game/baby.gif~c200')
}
